@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Light"), url("/fonts/vendor/roboto/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto Medium"), url("/fonts/vendor/roboto/Roboto-Medium.woff") format("woff");
}
